<main class="main">
  <h1>Assignment Technical Test</h1>
  <p>
    The assignment involves the development of an Autocomplete component.<br />
    <br />
    My approach to this task has been guided by my ideal user experience I would like to find.<br />
    The component features an input field that dynamically displays a list of available options as the user types. This
    functionality alleviates the need for users to remember the complete field value.<br />
    <br />
    Specifically, when the user begins to enter the name of a city, a scrollable list of suggestions will appear below
    the input field, offering potential matches. Selecting an option from this list will automatically populate the
    input field with the chosen value, thus enhancing the efficiency and convenience of the user interface.<br />
  </p>
  <section>
    @if(cities$ | async; as cities) {
    <label>Write your city:</label>
    <autocomplete [list]="cities"></autocomplete>
    }
  </section>
  <router-outlet />
</main>
